<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{ template "_head" }}
    <title>Join</title>
</head>

<body class="bg-gradient-primary">
    <div id="login_wrapper" class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <!-- Nested Row within Card Body -->
                        <div class="p-5">
                            <div class="text-center">
                                <a href="/login"><img src="img\aw_icon.png" alt="placeholder" width="150px"
                                        style="margin-bottom: 25px;" /></a>
                            </div>
                            <!-- Login form -->

                            <form id="joinFm">
                                <label for="name">Name</label> <input type="text" id="name"
                                    class="form-control form-control-user jInput" name="name" placeholder="Name"
                                    value="">
                                <label for="id" class="mt-2">ID</label> <input type="text" id="id"
                                    class="form-control form-control-user jInput" name="id" placeholder="ID">
                                <label for="pw1" class="mt-2">Password</label> <input type="password" id="password1"
                                    class="form-control form-control-user jInput" name="password1"
                                    placeholder="Password">
                                <label for="pw2 label" class="mt-2">Check password</label> <input type="password"
                                    id="password2" class="form-control form-control-user jInput" name="password2"
                                    placeholder="Password">
                                <hr>
                                <div id="setMailSer">
                                    <input type="radio" id="chk_info" name="chk_info" value="imap"
                                        checked="checked">IMAP
                                    <input type="radio" id="chk_info" class="ml-2" name="chk_info" value="pop">POP3
                                    <br>
                                    <label for="setMailServer"> Email Server: </label>
                                    <select id="setMailServer" class="custom-select w-50"
                                        onchange="setEmailServer(this.value)">
                                        <option value="">User Input</option>
                                    </select><br>

                                    <input type="text" id="imap_add" name="imap_add"
                                        class="form-control form-control-user jInput" placeholder="IMAP/POP3 Address"
                                        style="margin-bottom: 3px;">
                                    <input type="text" id="imap_port" name="imap_port"
                                        class="form-control form-control-user jInput" placeholder="IMAP/POP3 Port"
                                        style="margin-bottom: 5px;">
                                    <label for="smtp" class="mt-3">SMTP </label> <input type="text" id="smtp_add"
                                        name="smtp_add" class="form-control form-control-user jInput"
                                        placeholder="SMTP Address" style="margin-bottom: 3px;">
                                    <input type="text" id="smtp_port" name="smtp_port"
                                        class="form-control form-control-user jInput" placeholder="SMTP Port"
                                        style="margin-bottom: 5px;">
                                    <label for="email" class="mt-3">Email Address </label><input type="email" id="email"
                                        class="form-control form-control-user jInput" name="email" placeholder="Address"
                                        style="margin-bottom: 5px;">
                                    <label for="set_pw">Email Password </label><input type="password" id="mail_passwd"
                                        name="mail_passwd" class="form-control form-control-user jInput"
                                        placeholder="Password">

                                </div>
                                <br>
                                <button type="button" class="btn btn-primary btn-user btn-block" id="bntJoin"
                                    value="Join">Join</button>
                                <!-- <input type="button" class="btn btn-primary btn-user btn-block" onclick="goBack()" value="취소"> -->
                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small" href="/login">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ template "_headjs" }}
</body>

</html>
