<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "_head" }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Compose</title>
</head>

<body id="page-top">

    <div id="wrapper">
        {{ template "_menu" }}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {{ template "_header" }}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div>

                                <table id="dataTable" width="100%" cellspacing="0"
                                    style="table-layout:fixed; border-collapse: separate;border-spacing: 0 10px; ">
                                    <colgroup>
                                        <col width="120px" />
                                        <col width="*" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td> <label for="writeTo">To</label></td>
                                            <td> <input type="email" id="writeTo" placeholder="To" style="width: 100%"
                                                    value="{{.Mto}}"></td>
                                        </tr>
                                        <tr>
                                            <td><label for="enTitle">Title</label></td>
                                            <td><input type="text" id="enTitle" placeholder="Title" style="width: 100%">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label for="enck" class="custom-label">Encryption</label>
                                                <input type="checkbox" id="enck" name="enck" value="enck">
                                            </td>
                                            <td>
                                                <div>
                                                    <span id="en_sub" style="display: none; height: 30px;">
                                                        <label for="entitle">Title</label>
                                                        <input type="checkbox" id="chktitle" name="chktitle"
                                                            class="jInput" value="chktitle">
                                                        <label for="enms">Content</label>
                                                        <input type="checkbox" id="chksource" name="chksource"
                                                            class="jInput" value="chksource">&nbsp;
                                                        <input type="password" id="enpw" name="enpw" class="jInput"
                                                            placeholder="Password">&nbsp;
                                                        <!-- <button type="button"  class="btn-sm btn-primary">복사</button> -->
                                                        <input class="btn-sm btn-primary" type="button" id="btnEnc"
                                                            value="Encryption">&nbsp;
                                                        <input class="btn-sm btn-primary" type="button" id="btnDec"
                                                            value="Decryption">
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <span class="col-sm-12"><textarea class="form-control jInput" id="enSource" rows="20"
                                        cols="125"></textarea></span>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" onclick="goBack()">Cancel</button>
                                <button class="btn btn-primary" type="button" id="mailWrite">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Send
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Jintecheng 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"
        integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", e => {
            var flag1 = true;
            var flag2 = true;
            var flag3 = true;
            var flag4 = true;
            btnEnc.addEventListener('click', e => {
                var chk1 = document.getElementById('chktitle').checked;
                var chk2 = document.getElementById('chksource').checked;

                var btnEnc = document.getElementById('btnEnc');
                var btnDec = document.getElementById('btnDec');
                var source = document.getElementById('enSource').value;
                var title = document.getElementById('enTitle').value;
                var password = document.getElementById('enpw').value;
                if (chk1 && chk2 && flag1 && flag2) {
                    if (title == "" || source == "") {
                        alert("Input Title or Content");
                    } else {
                        flag1 = false;
                        flag2 = false;
                        flag3 = true;
                        flag4 = true;
                        var encrypted1 = CryptoJS.AES.encrypt(source, password);
                        var encrypted2 = CryptoJS.AES.encrypt(title, password);
                        // console.log(encrypted.toString())
                        document.getElementById('enSource').value = encrypted1;
                        document.getElementById('enTitle').value = encrypted2;
                    }
                } else if (chk1 && flag1) {
                    if (title == "") {
                        alert("Input Title");
                    } else {

                        flag1 = false;
                        flag3 = true;
                        var encrypted2 = CryptoJS.AES.encrypt(title, password);
                        // console.log(encrypted.toString())
                        document.getElementById('enTitle').value = encrypted2;
                    }
                } else if (chk2 && flag2) {
                    if (title == "" || source == "") {
                        alert("Input Content");
                    } else {

                        flag2 = false;
                        flag4 = true;
                        var encrypted1 = CryptoJS.AES.encrypt(source, password);
                        // console.log(encrypted.toString())
                        document.getElementById('enSource').value = encrypted1;
                    }
                } else if (chk1 == false && chk2 == false) {
                    alert("Select Title or Content");
                } else {
                    alert("Encryption not allowed multiple times.");
                }
            })

            btnDec.addEventListener('click', e => {
                var chk1 = document.getElementById('chktitle').checked;
                var chk2 = document.getElementById('chksource').checked;

                var btnEnc = document.getElementById('btnEnc');
                var btnDec = document.getElementById('btnDec');

                var title = document.getElementById('enTitle').value;
                var password = document.getElementById('enpw').value;
                var source = document.getElementById('enSource').value;

                if (chk1 && chk2 && flag3 && flag4) {
                    var decrypted1 = CryptoJS.AES.decrypt(title, password);
                    var decrypted2 = CryptoJS.AES.decrypt(source, password);

                    if (decrypted1.toString(CryptoJS.enc.Utf8) == "" || decrypted2.toString(CryptoJS.enc.Utf8) == "") {
                        alert("Wrong Password");
                    } else {
                        document.getElementById('enTitle').value = decrypted1.toString(CryptoJS.enc.Utf8);
                        document.getElementById('enSource').value = decrypted2.toString(CryptoJS.enc.Utf8);
                        flag3 = false;
                        flag4 = false;
                        flag1 = true;
                        flag2 = true;
                    }
                } else if (chk1 && flag3) {
                    var decrypted = CryptoJS.AES.decrypt(title, password);
                    if (decrypted.toString(CryptoJS.enc.Utf8) == "") {
                        alert("Wrong Password");
                    } else {
                        document.getElementById('enTitle').value = decrypted.toString(CryptoJS.enc.Utf8);
                        flag3 = false;
                        flag1 = true;
                    }
                } else if (chk2 && flag4) {
                    var decrypted = CryptoJS.AES.decrypt(source, password);
                    if (decrypted.toString(CryptoJS.enc.Utf8) == "") {
                        alert("Wrong Password");
                    } else {
                        document.getElementById('enSource').value = decrypted.toString(CryptoJS.enc.Utf8);
                        flag4 = false;
                        flag2 = true;
                    }
                } else if (chk1 == false && chk2 == false) {
                    alert("Select Title or Content");
                } else {
                    alert("Decryption not allowed multiple times.");
                }
            })
        });
    </script>


    {{ template "_headjs" }}
</body>

</html>