{{ define "module" }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>
    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    .topnav button {
        font-size: 16px;
        border: none;
        outline: none;
        float: left;
        color: white;
        text-align: center;
        padding: 7px 8px;
        background-color:inherit;
        font-family: inherit;
        margin: 0;
    }

    .topnav button:hover {
        color: red;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .menubtn{
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 7px 8px;
        background-color:inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown_content input{
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .txt_editclass {
        width: 100%
    }

</style>
{{ end }}